:root {
    --bar-size: 85px;
    --gator-blue: #084B81;
    --gator-orange: #EE811D;
}

form {
    width: 50%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    form {
        display: none;
    }
}