body {
    height: 100vh;
    display: block;
    margin: 0;
    padding: 0;

}

#macro-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #BDBDBD;
}

#main {
    height:100%;
}