.course-filter {
    background-color: white;
    z-index: 1000;
    position: fixed;
    right: 250px;
    width: 400px;
    height: 100%;
    margin-right: -250px;
    margin-top: 103px;
}

.course-filter #all{
    width: 90%;
    font-size: 20px;
    margin-left: 15px;
    margin-top: 20px;
    color: gray;
    border-bottom: 1px solid var(--gator-blue);
}

.course-list{
    height: auto;
    width: 100%;
    padding: 0;
    align-items: center;
}

.course-list .course{
    height: auto;
    width: 90%;
    color: white;
    background-color: var(--gator-orange);
    list-style-type: none;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

.course:hover {
    background-color: #063c68;
    color: white;
    cursor: pointer;
}

.course #semester{
    font-size: 15px;
}
.course #id{
    font-size: 40px;
}
.course #name{
    font-size: 20px;
}